<div class="container pt-4">

    <div class="row">
        <div class="col">
            <h1 class="text-center">Peticiones HTTP - Haya Ramirez</h1>
            <hr>
            <h3>Listado de productos</h3>
            <button class="btn btn-primary" (click)="obtenerProductos()">Obtener productos</button>

        </div>
    </div>

    <!-- Listado de productos obtenidos desde el servicio -->
    <div class="row mt-4">
        <div class="col-md-6 col-lg-3 mb-3" *ngFor="let prod of productos">

            <div class="card h-100">
                <img [src]="prod.imagen" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{prod.nombre}}</h5>
                    <p class="card-text"><strong>Marca:</strong> {{prod.marca}}</p>
                    <p class="card-text"><strong>Modelo:</strong> {{prod.modelo}}</p>
                    <p class="card-text"><strong>Descripción:</strong>{{prod.descripcion}}</p>
                </div>
            </div>
        </div>
    </div>

</div>